@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0.5rem 7rem;
}

.logo {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 200;
    padding-top: 2rem;
    position: relative;
}

.logo::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10rem;
    height: 0.8rem;
    background-color: #fcc773;
    z-index: -1;
    transform: translateX(-10.5rem) translateY(2.4rem);
}

.main_body {
    height: 70vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#head {
    font-size: 4rem;
    font-weight: 200;
}

#head::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 13rem;
    height: 1rem;
    background-color: #fcc773;
    z-index: -1;
    transform: translateX(-16rem) translateY(3.9rem);
}

.results {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    flex-wrap: wrap;
}

#score {
    font-size: 1.8rem;
    font-weight: 200;
}

.type_area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.display {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

button {
    text-align: center;
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 0.02rem solid #fca311;
    border-radius: 1rem;
    padding: 1rem;
}

#restart {
    text-align: center;
    width: 8rem;
    height: 5rem;
    background-color: #fca311;
    color: white;
}

#comp_input {
    font-size: 2.3rem;
}

#tim_er {
    font-size: 2.3rem;
    color: #fca311;
}

.type_area input {
    width: 41vw;
    height: 11vh;
    font-size: 1.4rem;
    background-color: rgb(243, 243, 243);
    border: 0.02rem solid transparent;
    border-radius: 1rem;
    padding: 1rem;
}

.type_area input:hover {
    border: 0.02rem solid transparent;
}

.type_area input:focus {
    border: 0.02rem solid transparent;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023.9px) {
    html {
        font-size: 91%;
    }

    body {
        padding: 1rem 5rem;
    }

    .type_area input {
        width: 50vw;
        height: 11vh;
    }
}



@media only screen 
and (min-device-width : 480.1px) 
and (max-device-width : 813px) {
    html {
        font-size: 81%;
    }

    body {
        padding: 1rem 2rem;
    }

    .type_area input {
        width: 70vw;
        height: 11vh;
    }
    
    /*button {
        width: 8rem;
        height: 6rem;
        font-size: 1.3rem;
    }

    #restart {
        width: 8rem;
        height: 5rem;
    }
    
    #comp_input {
        font-size: 1.35rem;
    }
    
    #tim_er {
        font-size: 1.25rem;
    }
    
    .type_area input {
        width: 18rem;
        height: 4rem;
    }*/
}




/*mobile phone*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    html {
        font-size: 71%;
    }

    body {
        padding: 0.5rem 1rem;
    }
    
    .container {
        padding-left: 3rem;
    }

    .type_area input {
        width: 70vw;
        height: 9vh;
    }

    /*button {
        width: 7rem;
        height: 5rem;
        font-size: 1.25rem;
    }

    #restart {
        width: 7rem;
        height: 4rem;
    }
    
    #comp_input {
        font-size: 1.3rem;
    }
    
    #tim_er {
        font-size: 1.15rem;
    }*/
}
